.wrapper {
  min-height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // min-height: calc(100vh - 140px);
  padding: 16px 20px 120px;
  border-radius: 16px 16px 0 0;
  background-color: var(--black-color);
  background-image: url('../img/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;

  &--pb-0 {
    padding-bottom: 0;
  }

  &--not-bg {
    background-image: none;
  }

  main {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.block {
  display: flex;
  flex-direction: column;
  width: calc(100% + 24px);
  padding: 30px 24px;
  margin-left: -12px;
  margin-right: -12px;
  border: 2px solid #1f1d16;
  border-radius: 30px;
  background: linear-gradient(180deg, #101010 0%, #101010 100%);

  @media (max-width: 360px) {
    padding: 20px 16px;
  }
}

.title {
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  color: var(--text-color);
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--text-color);

  a {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--text-color);
  }
}

.text-grey {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--text-2);

  a {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--text-2);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--main-orange);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: var(--black-color);

  &--blue {
    background-color: #3ea2fe;
    color: var(--white-color);
  }
}