// Footer
.footer {
  position: fixed;
  z-index: 2;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);

  // .footer__inner

  &__inner {
    position: relative;
    z-index: 2;
    padding: 12px 16px;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 76px;
      border-radius: 12px;
      background-color: var(--black-color);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
      top: -10px;
      width: 135px;
      height: 40px;
      // border-radius: 12px 12px 0 0;
      // background-color: var(--black-color);
      background-image: url('../img/footer/decor-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  // .footer__list

  &__list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 10px;
  }

  // .footer__item

  &__item {
    &:nth-child(1) {
      margin-left: 4px;
    }

    &:nth-child(2) {
      margin-left: 4px;
      margin-right: 6px;
    }

    &--center {
      margin-left: 6px;

      .footer__link-pic {
        height: 54px;
        object-fit: contain;
      }
    }

    &.active {
      .footer__link {
        border-color: var(--main-orange);

        &::before {
          opacity: 1;
        }
      }

      .footer__link-pic {
        filter: grayscale(0);
      }

      .footer__link-text {
        font-weight: 700;
        font-size: 11px;
        color: var(--white-color);
      }
    }

    &--center {

      .footer__link {
        &::before {
          width: 80px;
          height: 80px;
        }
      }

    }
  }

  // .footer__link

  &__link {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      border-radius: 12px;
      border: 1px solid var(--main-orange);
      opacity: 0;
    }

  }

  // .footer__link-pic

  &__link-pic {
    filter: grayscale(1);
    height: auto;
  }

  // .footer__link-text

  &__link-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    color: #abb2b0;
  }
}