.wallet {

  // .wallet__form

  &__form {}

  // .wallet__balance

  &__balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 30px;
  }

  // .wallet__balance-block

  &__balance-block {
    width: 100%;
    align-items: center;
    column-gap: 10px;
    display: flex;
    height: 80px;
    padding: 16px;
    border-radius: 12px;
    background-color: #272727;
  }

  // .wallet__balance-icon

  &__balance-icon {}

  // .wallet__balance-info

  &__balance-info {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  // .wallet__balance-count

  &__balance-count {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 28px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--main-orange);

    @media (max-width: 360px) {
      font-size: 24px;
    }
  }

  // .wallet__balance-count-second

  &__balance-count-second {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-2);
  }

  // .wallet__airdrop

  &__airdrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 12px;
    background-color: var(--main-orange);
  }

  // .wallet__airdrop-icon

  &__airdrop-icon {}

  // .wallet__airdrop-text

  &__airdrop-text {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #101010;
  }

  // .wallet__form-title

  &__form-title {
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--text-color);
  }

  // .wallet__address

  &__address {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
  }

  // .wallet__address-input

  &__address-input {
    padding: 20px 60px 20px 24px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    outline: 0;
    border: 1px solid var(--text-2);
    border-radius: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--text-2);

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: var(--text-2);
    }
  }

  // .wallet__address-btn

  &__address-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #272727;
  }

  // .wallet__btn

  &__btn {
    margin-bottom: 20px;
  }

  // .wallet__link

  &__link {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: var(--main-orange);
  }
}